In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("melb_data.csv")

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
df.shape

(13580, 21)

In [6]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [8]:
df.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [9]:
col_use=['Suburb','Rooms','Type','Price','Method','SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2','Bathroom','Car','Landsize','BuildingArea','Price']
df=df[col_use]
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,1480000.0,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,2.0,1.0,1.0,202.0,NaN,1480000.0
1,Abbotsford,2,h,1035000.0,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,2.0,1.0,0.0,156.0,79.0,1035000.0
2,Abbotsford,3,h,1465000.0,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,3.0,2.0,0.0,134.0,150.0,1465000.0
3,Abbotsford,3,h,850000.0,PI,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,3.0,2.0,1.0,94.0,NaN,850000.0
4,Abbotsford,4,h,1600000.0,VB,Nelson,Northern Metropolitan,4019.0,2.5,Yarra,3.0,1.0,2.0,120.0,142.0,1600000.0

In [10]:
df.shape

(13580, 16)

In [11]:
df.isnull().any()

Suburb           False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Regionname       False
Propertycount    False
Distance         False
CouncilArea       True
Bedroom2         False
Bathroom         False
Car               True
Landsize         False
BuildingArea      True
Price            False
dtype: bool

In [12]:
df.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [13]:
df['Car']=df['Car'].fillna(0)

In [14]:
df.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [15]:
df['CouncilArea'].unique()

array(['Yarra', 'Moonee Valley', 'Port Phillip', 'Darebin', 'Hobsons Bay',
       'Stonnington', 'Boroondara', 'Monash', 'Glen Eira', 'Whitehorse',
       'Maribyrnong', 'Bayside', 'Moreland', 'Manningham', 'Banyule',
       'Melbourne', 'Kingston', 'Brimbank', 'Hume', nan, 'Knox',
       'Maroondah', 'Casey', 'Melton', 'Greater Dandenong', 'Nillumbik',
       'Whittlesea', 'Frankston', 'Macedon Ranges', 'Yarra Ranges',
       'Wyndham', 'Cardinia', 'Unavailable', 'Moorabool'], dtype=object)

In [16]:
df['BuildingArea'].unique()

array([         nan, 7.900000e+01, 1.500000e+02, 1.420000e+02,
       2.100000e+02, 1.070000e+02, 7.500000e+01, 1.900000e+02,
       9.400000e+01, 9.700000e+01, 1.100000e+02, 1.050000e+02,
       7.300000e+01, 1.350000e+02, 2.700000e+01, 6.000000e+01,
       8.500000e+01, 1.740000e+02, 5.000000e+01, 1.280000e+02,
       1.800000e+01, 1.240000e+02, 9.100000e+01, 8.200000e+01,
       8.100000e+01, 2.250000e+02, 1.450000e+02, 8.400000e+01,
       1.340000e+02, 1.160000e+02, 8.600000e+01, 1.270000e+02,
       1.860000e+02, 9.000000e+01, 1.330000e+02, 1.300000e+02,
       1.130000e+02, 1.000000e+02, 3.090000e+02, 1.920000e+02,
       1.260000e+02, 1.010000e+02, 1.020000e+02, 7.600000e+01,
       1.460000e+02, 1.980000e+02, 1.800000e+02, 1.590000e+02,
       1.220000e+02, 1.810000e+02, 9.800000e+01, 8.300000e+01,
       1.470000e+02, 2.540000e+02, 1.230000e+02, 1.310000e+02,
       3.400000e+01, 2.070000e+02, 6.800000e+01, 5.400000e+01,
       2.630000e+02, 2.030000e+02, 1.650000e+02, 1.400000e+02,
       1.120000e+02, 2.710000e+02, 6.100000e+01, 2.720000e+02,
       2.420000e+02, 2.680000e+02, 1.250000e+02, 1.200000e+02,
       2.200000e+02, 9.300000e+01, 2.200000e+01, 5.700000e+01,
       1.520000e+02, 6.500000e+01, 1.760000e+02, 1.410000e+02,
       7.700000e+01, 8.700000e+01, 1.360000e+02, 3.000000e+00,
       2.510000e+02, 1.170000e+02, 1.670000e+02, 1.180000e+02,
       1.690000e+02, 1.090000e+02, 6.030000e+02, 1.700000e+02,
       1.570000e+02, 1.600000e+02, 1.580000e+02, 7.000000e+01,
       1.400000e+01, 3.800000e+01, 9.600000e+01, 2.220000e+02,
       1.210000e+02, 1.630000e+02, 5.160000e+02, 5.300000e+01,
       1.060000e+02, 7.400000e+01, 1.080000e+02, 8.000000e+01,
       8.800000e+01, 3.330000e+02, 2.850000e+02, 6.200000e+01,
       2.700000e+02, 4.350000e+02, 9.200000e+01, 1.680000e+02,
       1.480000e+02, 1.850000e+02, 5.800000e+01, 1.390000e+02,
       2.320000e+02, 1.950000e+02, 2.040000e+02, 2.860000e+02,
       1.040000e+02, 1.490000e+02, 1.320000e+02, 6.900000e+01,
       1.550000e+02, 1.720000e+02, 1.770000e+02, 1.440000e+02,
       1.660000e+02, 1.750000e+02, 7.100000e+01, 2.730000e+02,
       3.990000e+02, 3.150000e+02, 1.780000e+02, 6.180000e+02,
       2.280000e+02, 4.440000e+02, 3.900000e+02, 2.060000e+02,
       1.110000e+02, 1.990000e+02, 2.660000e+02, 2.740000e+02,
       2.400000e+02, 2.780000e+02, 1.640000e+02, 2.010000e+02,
       1.140000e+02, 7.920000e+02, 2.150000e+02, 2.550000e+02,
       3.170000e+02, 1.030000e+02, 1.430000e+02, 2.810000e+02,
       3.950000e+02, 1.530000e+02, 4.900000e+01, 5.900000e+01,
       5.100000e+01, 2.180000e+02, 1.290000e+02, 4.200000e+02,
       2.260000e+02, 4.100000e+02, 4.490000e+02, 3.560000e+02,
       3.490000e+02, 7.200000e+01, 2.520000e+02, 2.000000e+02,
       3.080000e+02, 2.410000e+02, 4.650000e+02, 3.360000e+02,
       5.020000e+02, 2.530000e+02, 3.500000e+02, 2.910000e+02,
       1.930000e+02, 2.600000e+02, 1.150000e+02, 1.540000e+02,
       2.750000e+02, 4.770000e+02, 1.370000e+02, 2.140000e+02,
       5.200000e+02, 3.300000e+02, 3.650000e+02, 3.550000e+02,
       2.470000e+02, 1.880000e+02, 5.290000e+02, 2.440000e+02,
       1.960000e+02, 7.200000e+02, 5.180000e+02, 2.500000e+02,
       5.000000e+00, 1.510000e+02, 2.120000e+02, 1.940000e+02,
       2.050000e+02, 1.380000e+02, 2.330000e+02, 3.530000e+02,
       4.750000e+02, 1.970000e+02, 2.450000e+02, 2.840000e+02,
       3.610000e+02, 7.660000e+02, 9.500000e+01, 1.910000e+02,
       7.800000e+01, 1.190000e+02, 2.310000e+02, 1.560000e+02,
       2.570000e+02, 2.560000e+02, 3.370000e+02, 2.800000e+01,
       2.650000e+02, 5.380000e+02, 9.900000e+01, 2.960000e+02,
       2.190000e+02, 2.350000e+02, 1.620000e+02, 2.160000e+02,
       2.090000e+02, 1.710000e+02, 3.410000e+02, 3.400000e+02,
       2.020000e+02, 2.620000e+02, 3.640000e+02, 2.210000e+02,
       4.230000e+02, 4.000000e+01, 3.020000e+02, 4.190000e+02,
       2.290000e+02, 3.050000e+02, 3.110000e+02, 2.000000e+00,
       3.190000e+02, 2.460000e+02, 1.610000e+02, 3.040000e+02,
       2.130000e+02, 1.830000e+02, 5.940000e+02, 1.820000e+02,
       2.380000e+02, 3.460000e+02, 6.600000e+01, 4.000000e+00,
       2.880000e+02, 2.870000e+02, 8.900000e+01, 4.500000e+01,
       1.041000e+03, 1.000000e+00, 4.200000e+01, 3.210000e+02,
       3.700000e+01, 6.400000e+01, 4.300000e+01, 1.840000e+02,
       3.230000e+02, 6.791000e+03, 7.190000e+02, 3.000000e+02,
       3.800000e+02, 1.890000e+02, 3.480000e+02, 5.600000e+01,
       3.112000e+03, 4.070000e+02, 2.820000e+02, 4.530000e+02,
       3.630000e+02, 2.970000e+02, 1.730000e+02, 4.270000e+02,
       4.110000e+02, 2.760000e+02, 4.800000e+01, 6.700000e+01,
       3.300000e+01, 2.370000e+02, 2.230000e+02, 5.440000e+02,
       3.130000e+02, 6.300000e+01, 4.400000e+01, 2.770000e+02,
       2.300000e+02, 2.490000e+02, 1.870000e+02, 1.300000e+01,
       2.580000e+02, 5.200000e+01, 3.200000e+02, 4.290000e+02,
       2.610000e+02, 3.060000e+02, 3.270000e+02, 2.900000e+02,
       2.360000e+02, 3.220000e+02, 4.780000e+02, 1.561000e+03,
       4.700000e+01, 2.110000e+02, 2.670000e+02, 5.500000e+01,
       3.780000e+02, 2.170000e+02, 2.240000e+02, 2.270000e+02,
       4.540000e+02, 7.000000e+02, 2.800000e+02, 3.558000e+03,
       3.070000e+02, 2.000000e+01, 4.600000e+01, 3.500000e+01,
       3.140000e+02, 3.510000e+02, 3.000000e+01, 2.480000e+02,
       2.600000e+01, 3.260000e+02, 1.143000e+03, 6.070000e+02,
       3.540000e+02, 2.950000e+02, 6.720000e+02, 1.900000e+01,
       2.640000e+02, 3.250000e+02, 4.130000e+02, 3.240000e+02,
       6.130000e+02, 3.030000e+02, 4.100000e+01, 3.730000e+02,
       3.440000e+02, 2.080000e+02, 2.920000e+02, 4.140000e+02,
       1.200000e+01, 3.740000e+02, 4.260000e+02, 4.000000e+02,
       3.580000e+02, 1.022000e+03, 3.420000e+02, 2.930000e+02,
       3.600000e+02, 3.100000e+02, 3.920000e+02, 3.390000e+02,
       2.430000e+02, 2.340000e+02, 2.500000e+01, 3.900000e+01,
       3.720000e+02, 3.290000e+02, 1.600000e+01, 1.790000e+02,
       0.000000e+00, 3.310000e+02, 1.000000e+01, 2.390000e+02,
       5.010000e+02, 4.500000e+02, 5.060000e+02, 5.280000e+02,
       4.670000e+02, 5.580000e+02, 5.250000e+02, 5.570000e+02,
       3.120000e+02, 3.470000e+02, 6.500000e+02, 6.730000e+02,
       1.500000e+01, 3.620000e+02, 3.350000e+02, 3.450000e+02,
       3.770000e+02, 3.320000e+02, 3.670000e+02, 7.000000e+00,
       3.750000e+02, 2.790000e+02, 3.160000e+02, 3.380000e+02,
       3.570000e+02, 4.050000e+02, 3.180000e+02, 3.600000e+01,
       8.080000e+02, 7.230000e+01, 6.623000e+01, 1.015100e+02,
       6.811000e+01, 2.830000e+02, 1.968000e+02, 1.734500e+02,
       1.793000e+02, 1.343000e+02, 4.643000e+02, 7.677000e+01,
       1.062000e+02, 1.129000e+02, 1.137600e+02, 1.531000e+02,
       3.200000e+01, 8.520000e+01, 7.290000e+01, 9.950000e+01,
       1.074000e+02, 1.426000e+02, 5.300000e+02, 7.750000e+01,
       8.230000e+01, 2.557900e+02, 4.240000e+02, 1.863600e+02,
       4.900000e+02, 1.472000e+02, 2.259800e+02, 9.000000e+00,
       1.036000e+02, 6.370000e+01, 1.108700e+02, 9.384000e+01,
       1.244500e+02, 1.138100e+02, 1.067600e+02, 2.106800e+02,
       3.950000e+01, 1.052300e+02, 1.013700e+02, 1.232100e+02,
       1.407481e+02, 8.650000e+01, 3.060000e+01, 2.255000e+02,
       4.095400e+02, 1.566000e+02, 2.276000e+02, 1.046300e+02,
       4.430000e+02, 1.671300e+02, 1.485000e+02, 2.701800e+02,
       5.330000e+01, 9.850000e+01, 1.579351e+02, 3.280000e+02,
       9.430000e+01, 2.100000e+01, 9.588000e+01, 1.057000e+02,
       4.540000e+01, 2.213000e+02, 1.132000e+02, 1.867500e+02,
       5.400000e+02, 1.278000e+02, 1.064000e+02, 5.600000e+02,
       1.680100e+02, 3.061900e+02, 5.157800e+02, 1.961000e+02,
       7.890000e+02, 1.312700e+02, 1.678700e+02, 1.839700e+02,
       1.995000e+02, 2.900000e+01, 4.460000e+02, 5.000000e+02,
       7.545000e+01, 1.655000e+02, 2.635000e+02, 4.310000e+02,
       5.850000e+02, 7.360000e+02, 3.716122e+02, 1.997300e+02,
       1.185400e+02, 2.982100e+02, 1.695000e+02, 3.700000e+02,
       4.220000e+01, 1.355000e+02, 2.667600e+02, 2.724000e+02,
       1.778000e+02, 1.394000e+02, 1.017600e+02, 6.340000e+02,
       1.950964e+02, 4.700000e+02, 1.305200e+02, 5.470000e+02,
       1.110400e+02, 6.340000e+01, 9.250000e+01, 1.159600e+02,
       1.218400e+02, 1.228600e+02, 1.142000e+02, 2.665300e+02,
       7.854000e+01, 8.535000e+01, 3.520000e+02, 3.910000e+02,
       1.218000e+02, 8.260000e+01, 1.364900e+02, 6.800000e+02,
       1.579352e+02, 1.268000e+02, 1.006000e+02, 4.440000e+01,
       1.515400e+02, 1.809000e+02, 8.268367e+02, 3.660000e+02,
       6.250000e+02, 9.450000e+01, 1.166500e+02, 1.100000e+01,
       1.346000e+02, 1.838400e+02, 1.267000e+02, 3.340000e+02,
       1.164000e+02, 1.828500e+02, 1.095000e+02, 1.297000e+02,
       6.650000e+02, 3.980000e+02, 1.484700e+02, 5.530000e+02,
       5.310000e+02, 1.829000e+02, 1.847500e+02, 1.937400e+02,
       6.850000e+01, 1.099800e+02, 1.222500e+02, 1.059000e+02,
       1.017000e+02, 1.069000e+02, 9.382000e+01, 1.326000e+02,
       1.543000e+02, 1.787400e+02, 8.830000e+01, 8.070000e+01,
       8.925000e+01, 1.816000e+02, 1.044000e+02, 1.805600e+02,
       1.235000e+02, 2.007100e+02, 8.179000e+01, 9.340000e+02,
       1.299200e+02, 4.370000e+01, 1.136000e+02, 6.632000e+01,
       3.564000e+01, 6.160000e+01, 3.885000e+02, 3.970000e+02,
       4.950000e+02, 6.770000e+02, 4.390000e+02, 5.030000e+02,
       5.120000e+02, 2.590000e+02, 2.940000e+02, 5.750000e+02,
       6.530000e+02, 4.451500e+04, 3.680000e+02])

In [17]:
df['BuildingArea']=df['BuildingArea'].fillna(df.BuildingArea.mean())

In [18]:
df.dropna(inplace=True)

In [19]:
df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [20]:
df=pd.get_dummies(df,drop_first=True)
df.head()

,Rooms,Price,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,2,1480000.0,4019.0,2.5,2.0,1.0,1.0,202.0,151.96765,1480000.0,...,0,0,0,0,0,0,0,0,1,0
1,2,1035000.0,4019.0,2.5,2.0,1.0,0.0,156.0,79.00000,1035000.0,...,0,0,0,0,0,0,0,0,1,0
2,3,1465000.0,4019.0,2.5,3.0,2.0,0.0,134.0,150.00000,1465000.0,...,0,0,0,0,0,0,0,0,1,0
3,3,850000.0,4019.0,2.5,3.0,2.0,1.0,94.0,151.96765,850000.0,...,0,0,0,0,0,0,0,0,1,0
4,4,1600000.0,4019.0,2.5,3.0,1.0,2.0,120.0,142.00000,1600000.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
x=d